*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.portfolio {
    color: #eee;
    /* overflow: hidden; */
    background-image: linear-gradient(to right, #F14545, #A75D19);
}

nav {
    min-height: 10vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

nav img {
    width: 25px;
}

.logo {
    font-size: 20px;
}

.page {
    min-height: 90vh;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
}

.hero {
    overflow: hidden;
    height: 500px;
    align-self: center;
    justify-self: center;
    display: flex;
}

.hero img {
    height: 500px;
    transition: transform 0.3s ease-out;
    cursor: pointer;
}

/* Transitions */
.model-right {
    transform: translate(0%, 10%);
}

.model-left {
    transform: translate(0%, -10%);
}

.hero:hover .model-right {
    transform: translate(0%, 0%);
}

.hero:hover .model-left {
    transform: translate(0%, 0%);
}

.details {
    grid-column: 2/3;
    align-self: end;
}

.details h1 {
    font-size: 3.75em;
}

.details h2 {
    font-size: 1.875em;
    padding: 20px 0;
}

.details p {
    font-size: 1.5em;
    padding: 20px 0 50px 0;
}

/* DOCS */
.pages {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.pages > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pages h3 {
    font-size: 1.875em;
    padding: 30px;
}

.pages svg {
    cursor: pointer;
    opacity: 0.5;
    transform: scale(2);
}

.pages svg:hover {
    animation: dot .5s ease-in-out infinite alternate;
}

.pages svg.active {
    opacity: 1;
}

/* keyframes */
@keyframes dot {
    0% {
        transform: scale(2);
    }
    100% {
        transform: scale(3);
    }
}

/* Misc */
.svg-design {
    width: 20px;
    height: 20px;
}

/* .first-svg {
    background: #bdbdbd;
    border-radius: 50%;
} */

.model-left,
.model-right {
    height: 400px;
}


/* PAGES */
#background-sb {background: #E6605C; color: #130F0D;}
#jk { background: #2C2020; color: #A8A7A2; }
#ke { background: #F5F1E6; color: #1E1905;}
/* SB, JK, KE page */
.banner {
    height: 50vh;
    width: 100%;
    position: relative;
}

.banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.sb {
    position: absolute;
    top: 80%;
    left: 40%;
    transform: translate(-70%, -70%);
    font-size: 1.5em;
    color: #130F0D;
    text-shadow: 2px 2px 2px #ccc;
}

.sb h3 {
    font-size: .8em;
}

/* Descriptions & Contents */
.story,
.gallery {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 80px 0;
}

.story-description,
.gallery-description {
    width: 200%;
}

.story-description h3,
.gallery-description h3 {
    font-size: 1.25em;
    padding-bottom: 30px;
}

.story-description p,
.gallery-description p {
    padding: 20px 0;
    font-size: .9em;
}

.work-gallery {
    display: grid;
    grid-template-columns: repeat(3, 200px);
}

.profile img {
    width: 50%;
}

.work-gallery img {
    width: 50%;
}